<launch>
    <group ns="wugui_1">
      <node pkg="turtlesim" name="ABC" type="turtlesim_node"/>
    </group>
    
    <group ns="wugui_2">
      <node pkg="turtlesim" name="DEF" type="turtlesim_node"/>
    </group>
    
    <node pkg="turtlesim" name="mimic" type="mimic">
      <remap from="input" to="wugui_1/turtle1"/>
      <remap from="output" to="wugui_2/turtle1"/>
    </node>
    <node pkg="beginner_tutorials" name="Pub" type="talker"
    output="screen"/>
    <node pkg="beginner_tutorials" name="Sub" type="listener" launch-prefix="xterm -e" output="screen" />

</launch>
